[user]
	name = Tad Ashlock
[color]
	ui = true
[push]
	default = simple
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit
[include]
        path = ~/.gitconfig.local
