# Ignore everything
*

# But not these files...
!/.aspell.en.prepl
!/.bashrc
!/dict/
!/dict/en.prepl
!/dict/en.pws
!/.dmrc
!/.gitconfig
!/.gitignore
!/.mutt
!/.mutt/mailcap
!/.mutt/mutt-colors-solarized-dark-16.muttrc
!/.mutt/muttrc
!/.nethackrc
!/.pentadactylrc
!/.pwsafe.dat
!/.ratpoisonrc
!/.screenrc
!/.ssh
!/.ssh/config
!/.task
!/.taskrc
!/.tmux.conf
!/.vim
!/.vimrc
!/.Xresources
!/.xscreensaver
!/.xsession
!/.zshrc
!/.zsh/
!/.zsh/plugins
!/.zsh/plugins/opp.zsh
