[user]
	name = Tad Ashlock
[color]
	ui = true
[core]
	editor = vim
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit
[include]
	path = ~/.gitconfig.local
[commit]
	template = /home/taashlo/.git-commit-template.txt
[merge]
	conflictstyle = diff3
[diff]
	#compactionHeuristic = true
